body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.grid-item {
    width: 20px;
    height: 20px; 
    background-color: #ccc; 
    border: 1px solid #fff; 
  }

  .row {
    display: flex;
  }